@if (Categorys.Count > 0)
{
    <select @onchange="SelectCategory" class="form-select text-center px-md-0 px-1" aria-label="Default select example" dir="rtl">
        <option disabled selected>الفئة</option>
        <option value="">الكل</option>
        @foreach (var Category in Categorys)
        {
            <option  value="@Category.Category_Id">@Category.Name</option>
        }
    </select>
}
else
{
    <select disabled class="form-select text-center px-0" aria-label="Default select example" dir="rtl">
        <option disabled selected>الفئة</option>
    </select>
}

@code {
    private List<Category> Categorys = new List<Category>();
    public string? Selected_Category_Id = "";
    public async Task LoadCategorys()
    {
        CategoryResponse result = new CategoryResponse();
        try
        {
            result = await Http.GetFromJsonAsync<CategoryResponse>($"api/Category/GetAllCategorys");
            if (result.Code == "200")
            {
                if (result.Data != null)
                {
                    Categorys = result.Data;
                    await InvokeAsync(StateHasChanged);
                }
            }
        }
        catch (Exception ex)
        {


        }
    }
    public async void SelectCategory(ChangeEventArgs eventArgs)
    {
        Selected_Category_Id = eventArgs?.Value?.ToString();
        await InvokeAsync(StateHasChanged);
        _app.NotifyStateChanged();
    }

}
