<div class="container-fluid text-center bg-white" style="position:absolute;top:0px;left:0px;height:100vh;z-index:3081;">
	<div class="d-flex flex-column align-items-center text-center " style="top:45%;left:25vw;right:25vw;position:inherit;">
		<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_usmfx6bp.json" speed="1" style="width:220px; height:120px;" loop autoplay></lottie-player>
	</div>
</div>

@code {

}
