<div class="container-fluid text-center bg-white" style="position:absolute;top:0px;left:0px;height:100vh;z-index:3081;">
	<div class="d-flex flex-column align-items-center text-center " style="top:50%;left:25vw;right:25vw;position:inherit;">
		<div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
		<strong class="text-dark mt-3">...جاري التحميل</strong>
	</div>
</div>

@code {

}
