<div class="container-fluid p-5">
    <div class="col-12 text-center p-5">
        <img style="height:350px;" src="assets/images/404.jpg" />
        <h5 class="fs-3">تعذر الوصول</h5>
    </div>
</div>
@code {

}
