<div class="p-0 mx-1 placeholder-glow" style="width:300px;">
    <article class="_kl_cd mt-0 position-relative shadow" dir="rtl">
        <!--Post Img-->
        <div class="_i-tr placeholder" style="height:200px;width:300px;">
        </div>
        <!--Post Tittle-->
        <div class="_oi_er_we">
            <h3 class="text-truncate placeholder rounded" style="height:20px;width:100%;"></h3>
            <p class="text-truncate placeholder rounded" style="height:40px;width:100%;">
                bbbb
            </p>
        </div>
        <div class="w-100 row text-center bg-white m-0 rounded-bottom p-2" style="font-size:13px;">
            <div class="col-6 text-end p-0" style="height:10px;width:50%;">
                <span class="placeholder rounded" style="height:10px;width:50px;"></span>
            </div>
            <div class="col-6 text-start p-0">
                <span class="placeholder rounded" style="height:10px;width:50px;"></span>
            </div>
        </div>
        <div class="w-100 row text-center bg-white m-0 rounded-bottom p-2  border-top">
            <div class="col-6 text-center " style="cursor:pointer;">
                <span class="placeholder rounded" style="height:10px;width:90px;"></span>
            </div>
            <div class="col-6 text-center border-right ">
                <span class="placeholder rounded" style="height:10px;width:90px;"></span>
            </div>
        </div>
    </article>
</div>
@code {

}
