@if (Status.Count > 0)
{
    <select @onchange="SelectStatus" class="form-select text-center px-md-0 px-1" aria-label="Default select example" dir="rtl">
        <option disabled selected>الحالة</option>
        <option value="">الكل</option>
        @foreach (var Statu in Status)
        {
            <option  value="@Statu.Status_Id">@Statu.Name</option>
        }
    </select>
}
else
{
    <select disabled class="form-select text-center px-0" aria-label="Default select example" dir="rtl">
        <option disabled selected>الحالة</option>
    </select>
}

@code {
    private List<Status> Status = new List<Status>();
    public string? Selected_Status_Id = "";
    public async Task LoadStatus()
    {
        StatusResponse result = new StatusResponse();
        try
        {
            result = await Http.GetFromJsonAsync<StatusResponse>($"api/Status/GetAllStatus");
            if (result.Code == "200")
            {
                if (result.Data != null)
                {
                    Status = result.Data;
                    await InvokeAsync(StateHasChanged);
                }
            }
        }
        catch (Exception ex)
        {


        }
    }
    public async void SelectStatus(ChangeEventArgs eventArgs)
    {
        Selected_Status_Id = eventArgs?.Value?.ToString();
        await InvokeAsync(StateHasChanged);
        _app.NotifyStateChanged();
    }

}
