@if (Status.Count > 0)
{
    <select class="form-select text-center px-0" aria-label="Default select example" dir="rtl">
        <option disabled selected>الحالة</option>
        @foreach (var Statu in Status)
        {
            <option value="@Statu.Status_Id">@Statu.Name</option>
        }
    </select>
}
else
{
    <select disabled class="form-select text-center px-0" aria-label="Default select example" dir="rtl">
        <option disabled selected>الحالة</option>
    </select>
}

@code {
    private List<Status> Status = new List<Status>();
    public async Task LoadStatus()
    {
        StatusResponse result = new StatusResponse();
        try
        {
            result = await Http.GetFromJsonAsync<StatusResponse>($"api/Status/GetAllStatus");
            if (result.Code == "200")
            {
                if (result.Data != null)
                {
                    Status = result.Data;
                    await InvokeAsync(StateHasChanged);
                }
            }
        }
        catch (Exception ex)
        {


        }
    }
}
