@page "/addPost"
<Header />
<main class="charity-01-main" style="margin-top:102px;" dir="rtl">
    <!-- ======== Profile started ========= -->
    <section class="services-01 my-0 py-0 ">
        <div class="container-fluid px-0  bg-">
            <!-- ======== profile started ========= -->
            <div class="row shadow bg-light">
                <div class="mb-3 mb-md-4 col-12 position-relative" style="height:23vh; background-image:url('assets/images/cover.jpg');background-position:center;background-size:cover;background-repeat:no-repeat;">
                    <img class="img-thumbnail rounded-circle position-absolute " style="right:10%; top:55%; height:130px; width:130px;" src="@_app.AccountData.Image_Url" />

                </div>
                <div class="col-12 py-4 py-md-1 px-md-5 px-1 mt-1">
                    <div class="row p-3 px-md-5  mt-md-0 mt-2">
                        <div class="col-md-4 col-12   pe-md-5 pe-4">
                            <h4 class="text-end">
                                @(_app.AccountData.First_Name+" "+_app.AccountData.Last_Name)
                            </h4>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ======== body started ========= -->
            <div class="row mt-2 shadow bg-light  px-3 ">
                <div class="col-12 bg-light">
                    <section class="bg-03 pt-4">
                        <div class="container">
                            <div class="head-001 text-center">
                                <i class="fal fs-1 mb-2 fa-smile-plus text-dark"></i>
                                <h2 class="fs-2 fw-bold">أضف منشور</h2>
                                <p>
                                    <q class="fs-5">
                                        حينما تساعد الاخرين تجد السعادة
                                    </q>
                                </p>
                            </div>
                            <div class="row my-3 mb-4 mt-5 justify-content-center">
                                <div class="col-md-12 col-12 position-relative">
                                    <input class="w-100 text-center border p-2 px-3 rounded" type="text" placeholder="عنوان المنشور" />
                                </div>
                            </div>
                            <div class="row my-3 justify-content-center">
                                <div class="col-md-6 col-12 text-center my-1">
                                    <StatusSelector @ref="Statu" />
                                </div>
                                <div class="col-md-6 col-12 text-center my-1">
                                    <CategorySelector @ref="Categoryes"/>
                                </div>
                                <div class="col-md-6 col-12 text-center my-1">
                                    <GovernrateSelector @ref="Governrates" />
                                </div>
                                <div class="col-md-6 col-12 text-center my-1">
                                    <CitySelector @ref="Citys" Selected_Governrate="@Governrates.Selected_Governrate" />
                                </div>
                                
                            </div>
                            <div class="row my-3 mb-4 mt-2 justify-content-center">
                                <div class="col-md-12 col-12 position-relative">
                                    <textarea class="w-100 text-center border p-2 px-3 rounded" placeholder="وصف المنشور">

                                    </textarea>
                                </div>
                            </div>
                            <div class="row my-3 mb-4 mt-1 justify-content-center">
                                <div class="col-md-8 col-12 position-relative">
                                    <button class="btn btn-secondary w-100 text-center border p-2 px-3 rounded">
                                        <i class="fa fa-image ms-1"></i>
                                        أضف صورة
                                    </button>
                                </div>
                            </div>
                            <div class="row my-3 mb-4 mt-1 justify-content-center">
                                <div class="col-md-4 col-12 position-relative">
                                    <button class="btn btn-primary w-100 text-center border p-2 px-3 rounded">
                                        <i class="fa fa-marker ms-1"></i>
                                        نشر
                                    </button>
                                </div>
                                <div class="col-md-4 mt-md-0 mt-3 col-12 position-relative">
                                    <button class="btn btn-danger w-100 text-center border p-2 px-3 rounded">
                                        <i class="fa fa-times ms-1"></i>
                                        الغاء
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>
</main>



@code {
    private List<Post> posts = new List<Post>();
    CitySelector? Citys = new CitySelector();
    GovernrateSelector? Governrates = new GovernrateSelector();
    CategorySelector? Categoryes = new CategorySelector();
    StatusSelector? Statu = new StatusSelector();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Governrates.LoadGovernorates();
            await Categoryes.LoadCategorys();
            await Statu.LoadStatus();
        }
    }
    protected override void OnInitialized()
    {
        _app.OnChange += StateHasChanged;
    }
}
