@page "/Blog"
<!-- ======== main started ========= -->
<main class="charity-01-main">

    <!-- ============abt-01 Section  Start============ -->

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-wrapper">
                        <h3>المنشورات</h3>
                        <ol>
                            <li style="cursor:pointer;" @onclick='()=>Nv.NavigateTo("/")'>الرئيسيه<i class="far fa-angle-double-right"></i></li>
                            <li style="cursor:pointer;" @onclick='()=>Nv.NavigateTo("/Blog")'>المنشورات</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ========bg-03 started ========= -->

    <section class="bg-03">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="head-01">
                        <h2>
                            <i class="fal fa-smile-beam"></i>
                        </h2>
                        <p>
                           <q class="fs-5">
                                حينما تساعد الاخرين تجد السعادة
                           </q>                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article class="_kl_cd" dir="rtl">
                        <div class="_i-tr">
                            <img class="img-fluid" src="https://img.freepik.com/free-psd/white-car-isolated_176382-1481.jpg?w=1380&t=st=1670047416~exp=1670048016~hmac=7d26a38dbb3213f290076d1f4a722ae20d2357d5155fafbc35cb18f42443fb78">
                        </div>
                        <div class="_oi_er_we">
                            <h3>سيارة مفقودة</h3>
                            <p>
                                تم فقد السيارة مساء يوم  الخميس في مدينة السادس من أكتوبر من أمام مول مصر...
                            </p>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <article class="_kl_cd" dir="rtl">
                        <div class="_i-tr">
                            <img class="img-fluid" src="https://img.freepik.com/free-photo/laptop-wooden-table_53876-20635.jpg?w=1380&t=st=1670144347~exp=1670144947~hmac=e4152e9d1cf9ebdfcfc5d33dc25984caf80db059cfadfbbc18e818391ce2ca07">
                        </div>
                        <div class="_oi_er_we">
                            <h3>لابتوب مفقودة</h3>
                            <p>
                                تم فقد اللابتوب مساء  يوم الخميس في مدينة السادس من أكتوبر في أمام مول مصر...
                            </p>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article class="_kl_cd" dir="rtl">
                        <div class="_i-tr">
                            <img class="img-fluid" src="https://img.freepik.com/free-photo/suitcase-money-with-hundred-dollar-white-background_1232-2858.jpg?w=1380&t=st=1670147605~exp=1670148205~hmac=d5b5b8a95376fcab122447a8968989c751d7d0ada4c52cf73effce181a63cacb">
                        </div>
                        <div class="_oi_er_we">
                            <h3>مبلغ مالي</h3>
                            <p>
                                تم فقد المبلغ مساء  يوم الخميس في مدينة السادس من أكتوبر في أمام مول مصر...
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

</main>
@code {

}
