@page "/"
  
<Header />
  <!-- ======== main started ========= -->

  <main class="charity-01-main mt-md-5 mt-5">

      <!-- ======== banner started ========= -->
    <section class="banner">
      <!-- <div class="shap-svg-01">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="600px" height="600px" viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
          <g id="Layer_1">
          </g>
          <g id="Layer_2">
            <circle style="fill:#FFE4EC;" cx="296.333" cy="301.333" r="283.666" />
          </g>
        </svg>
      </div> -->
      <div class="container">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 order-md-0 order-1">
            <div class="img-wrapper">
                <div class="banner-img">
                    <img style="height:500px;width:100%;" src="assets/images/slider/help.svg">
                </div>
            </div>
        </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 order-md-1 order-0">
            <div class="wrapper">
              <div class="content text-right" dir="rtl">
                <h1 class="fs-1">ساعد الاخرين في العثور علي الاشياء المفقودة منهم</h1>
                <p class="fs-3">
                     العثور علي الاشياء المفقودة  أو اعادتها الي اصحابها لم يعد أمر صعب فقط قم بالنشر في الموقع وسوف 
                    تستطيع الوصول الي اشيائك المفقودة اذا عثر عليها أحدهم أو الوصول الي أصحاب الاشياء المفقودة التي عثرت عليها بكل سهولة وأمان
                    .
                </p>
                <div class="btn-002">
                  <ul>
                    @if (_app.AccountData.First_Name == null)
                    {
                       <li style="cursor:pointer;" @onclick='()=>{Nv.NavigateTo("/LogIn");}'><a>تسجيل الدخول</a></li>             
                    }else{
                       <li style="opacity:0.5;" ><a>تسجيل الدخول</a></li>     
                    }
                    <li style="cursor:pointer;" @onclick='()=>{Nv.NavigateTo("/SignUp");}'><a>مستخدم جديد</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- ======== bg-02-b started ========= -->

    <section class="bg-02-b">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-001">
                <i class="fal fs-1 mb-2 fa-users text-dark"></i>
              <h2 class="fs-2 fw-bold">من نحن</h2>
              <p class="fs-5">
                  موقع يلا نساعد أول موقع مصري للبحث عن الاشياء المفقودة داخل مصر 
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 ">
            <div class="_do_er_xs">
              <div class="_kl_de_s">
                   <img style="height:260px;width:100%;" src="assets/images/slider/team.svg">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="_do_er_xs text-right" dir="rtl">
              <p class="fs-5">
                  موقع يلا نساعد هو موقع يوفر خدمة مجانيه للاشخاص للعثور علي الاشياء المفقودة داخل مصر 
                  .
              </p>
              <p class="fs-5">
                  تم انشاء الموقع في عام 2022 من قبل مجموعة من طلاب نظم المعلومات الادارية بالمعهد العالي للعلوم الادارية والتجارة الخارجيه كمشروع تخرجهم 
                  .
              </p>
              <p class="fs-5">
                  يوفر يلانساعد حلول كاملة الي الاشخاص الباحثين عن الاشياء المفقودة من خلال منصة واحدة علي الانترنت
                  .
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== services started ========= -->

    <section class="services-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-01" dir="rtl">
              <i class="fal fs-1 mb-2 fa-server text-dark"></i>
              <h2 class="fs-2">خدمات يلا نساعد</h2>
              <p class="fs-5">
                 يوفر موقع يلانساعد العديد من الخدمات المميزة للمستخدمين
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6" dir="rtl">
            <div class="ser-box">
              <i class="fal fa-search"></i>
              <h3>العثور علي الاشياء المفقودة</h3>
              <p>
                  
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-users"></i>
              <h3>البحث عن اصحاب الاشياء المفقودة  </h3>
              <p>
              </p>
            </div>
          </div>

          
        </div>
      </div>
    </section>

    <!-- ======== _ng_cs_we_rw started ========= -->

    <section class="_ng_cs_we_rw">
      <div class="container">
        <div class="row" dir="rtl">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fal fa-newspaper"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="200">200</div>
              <h5>منشور</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fal fa-user"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="107">107</div>
              <h5>مستخدم</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fal fa-home-heart"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="20">20</div>
              <h5>
                  أشياء تم اعادتها
              </h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fal fa-search"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="123">123</div>
              <h5>
                 أشياء عثر عليها
              </h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ========bg-03 started ========= -->

    <section class="bg-03">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-01" dir="rtl">
              <i class="fal fs-1 mb-2 fa-stars text-warning"></i>
              <h2>
                   المميزة
              </h2>
              <p>
                
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <article class="_kl_cd">
              <div class="_i-tr">
                   <img class="img-fluid" src="https://img.freepik.com/free-photo/phone-screen-with-abstract-marble-aesthetic_53876-145553.jpg?w=1380&t=st=1670047243~exp=1670047843~hmac=d88ad8fa234d2cd7ea2593c64d17c219fa580ec4acefe26782bae8e61c408ae6">
              </div>
              <div class="_oi_er_we">
                <h3>
                    هاتف أيفون عثر عليه
                </h3>
                <p>
                   
                </p>
              </div>
            </article>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <article class="_kl_cd">
              <div class="_i-tr">
                  <img class="img-fluid" src="https://img.freepik.com/free-psd/white-car-isolated_176382-1481.jpg?w=1380&t=st=1670047416~exp=1670048016~hmac=7d26a38dbb3213f290076d1f4a722ae20d2357d5155fafbc35cb18f42443fb78">
              </div>
              <div class="_oi_er_we">
                <h3>
                    سيارة مفقودة
                </h3>
                <p>
                   
                </p>
              </div>
            </article>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <article class="_kl_cd">
              <div class="_i-tr">
                   <img class="img-fluid" src="https://img.freepik.com/free-photo/laptop-wooden-table_53876-20635.jpg?w=1380&t=st=1670144347~exp=1670144947~hmac=e4152e9d1cf9ebdfcfc5d33dc25984caf80db059cfadfbbc18e818391ce2ca07">
              </div>
              <div class="_oi_er_we">
                <h3>لابتوب مفقود</h3>
                 <p>
                   
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!-- ========bg-05 started ========= -->

    @*<section class="bg-05">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>Our Team</h2>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team-wrapper">
              <div class="team-img">
                <img src="assets/images/team/1.jpg">
              </div>
              <div class="team-content">
                <h3>James</h3>
                <p>Designer</p>
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  <li><a href="#"><i class="fab fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team-wrapper">
              <div class="team-img">
                <img src="assets/images/team/3.jpg">
              </div>
              <div class="team-content">
                <h3>Albert</h3>
                <p>Art Designer</p>
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  <li><a href="#"><i class="fab fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team-wrapper">
              <div class="team-img">
                <img src="assets/images/team/2.jpg">
              </div>
              <div class="team-content">
                <h3>Johns</h3>
                <p>SEO</p>
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  <li><a href="#"><i class="fab fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="team-wrapper">
              <div class="team-img">
                <img src="assets/images/team/4.jpg">
              </div>
              <div class="team-content">
                <h3>Smith</h3>
                <p>Developer</p>
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  <li><a href="#"><i class="fab fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>*@
  </main>


  @code{
    protected override void OnInitialized()
    {
        _app.OnChange += StateHasChanged;
        base.OnInitialized();
    }
  }

