@page "/OurTeam"
<PageTitle>من نحن</PageTitle>

<Header />
<!-- ======== main started ========= -->

<main class="charity-01-main " style="margin-top:102px;">

    <!-- ============abt-01 Section  Start============ -->

    <BreadCrumb BaseRouteName="الرئيسيه" BaseRouteUrl="/" SubRouteName="من نحن" />

    <!-- ======== bg-02-b started ========= -->

    <section class="bg-02-b" dir="rtl">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="head-001">
                        <h2 class="fs-2 fw-bold"> من نحن </h2>
                        <p class="fs-5">
                            موقع يلا نساعد أول منصة عربيه مصرية للبحث عن الاشياء المفقودة داخل مصر
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 ">
                    <div class="_do_er_xs">
                        <div class="_kl_de_s">
                            <img  src="assets/images/ourteam.svg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="_do_er_xs text-right fs-5">
                        <p class="fs-5">
                            موقع يلا نساعد هو موقع يوفر خدمة مجانيه للاشخاص للعثور علي الاشياء المفقودة داخل مصر
                            .
                        </p>
                        <p class="fs-5">
                            تم انشاء الموقع في عام 2022 من قبل مجموعة من طلاب نظم المعلومات الادارية بالمعهد العالي للعلوم الادارية والتجارة الخارجيه كمشروع تخرجهم
                            .
                        </p>
                        <p class="fs-5">
                            يوفر يلانساعد حلول كاملة الي الاشخاص الباحثين عن الاشياء المفقودة من خلال منصة واحدة علي الانترنت
                            .
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@code {

}
