@page "/Post"

<!-- ======== main started ========= -->
<main class="charity-01-main position-relative" style="margin-top:102px;">
    <Comments />
    <!-- ============abt-01 Section  Start============ -->
    <BreadCrumb BaseRouteName="الرئيسيه" BaseRouteUrl="/" SubRouteName="المنشورات" SubSubRouteName="سيارة مفقودة" SubRouteUrl="Blog"/>
    <!-- ========bg-03 started ========= -->
   
    <section class="bg-03 " dir="rtl">
        
        <div class="m-auto" style="width:80vw;">
            <div class="row ">
                <div class="col-md-3 order-md-0 order-1 col-12 bg-light ">
                    <div class="row align-content-center justify-content-center p-2">
                        <div class="col-12 text-secondary rounded text-end shadow-sm  mt-2 border p-3">
                            <h6 class="fw-bold fs-5">
                                <i class="far fa-user ps-1"></i>
                                تم النشر بواسطة
                            </h6>
                            <hr />
                            <div class="col-12 px-0 rounded text-end">
                                <div class="col-12 px-0 m-0">
                                    <img class="rounded-circle px-0" style="height:50px;width:50px;" src="https://img.freepik.com/free-photo/medium-shot-happy-man-smiling_23-2148221808.jpg?w=1380&t=st=1670615915~exp=1670616515~hmac=0674c5d5b2c0548cf79781e691e6c005b881c802f8a48bda69850f34eef94f4c" />
                                    <span class="pe-1 fw-bold">أدهم سيف النصر</span>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 text-secondary rounded text-end shadow-sm  mt-2 border p-3">
                            <h6 class=" fw-bold fs-5">
                                <i class="fas fa-info-circle ps-1"></i>
                                بيانات المنشور 
                            </h6>
                            <hr />
                            <div class="col-12  p-0 my-2">
                                <i class="fas fa-clock ps-1 fs-5"></i>
                                <span class="fw-bold">
                                    وقت النشر :
                                </span>
                                10:30 ص
                            </div>
                            <div class="col-12  p-0 my-2">
                                <i class="fas fa-filter ps-1 fs-5"></i>
                                <span class="fw-bold">
                                    الفئة :
                                </span>
                                سيارات
                            </div>
                            <div class="col-12  p-0 my-2">
                                <i class="far fa-eye ps-1 fs-5"></i>
                                <span class="fw-bold">
                                    الحالة :
                                </span>
                                مفقودة
                            </div>
                            <div class="col-12  p-0 my-2">
                                <i class="far fa-money-bill-wave ps-1 fs-5"></i>
                                <span class="fw-bold">
                                    يوجد مكافأة :
                                </span>
                                نعم
                            </div>
                            <div class="col-12  p-0 my-2">
                                <i class="far fa-map-marked-alt ps-1 fs-5"></i>
                                <span class="fw-bold">
                                    المحافظة :
                                </span>
                                القاهرة
                            </div>
                            <div class="col-12 m-0 p-0 my-2">
                                <i class="far fa-map-marker-alt ps-2 fs-5"></i>
                                <span class="fw-bold">
                                    المدينة :
                                </span>
                                مدينة نصر
                            </div>
                            <div class="col-12 m-0 p-0 my-2" onclick="document.getElementById('comments').classList.toggle('d-none')">
                                <i class="far fa-comment-dots ps-2 fs-5"></i>
                                <span class="fw-bold">
                                    التعليقات :
                                </span>
                                102 
                            </div>
                            <div class="col-12 m-0 p-0 my-2">
                                <i class="far fa-thumbs-up ps-2 fs-5"></i>
                                <span class="fw-bold">
                                    الاعجاب :
                                </span>
                                10
                            </div>
                        </div>
                        <div class="col-12 text-secondary rounded text-end shadow-sm  mt-2 border p-3">
                            
                            
                            <h6 class="fw-bold fs-5">
                                <i class="far fa-address-card ps-1"></i>
                                تواصل مع الناشر 
                            </h6>
                            <hr />
                            <div class="col-12  p-0 my-2">
                                <i class="fal fa-phone ps-1 fs-5"></i>
                                <span class="fw-bold">
                                    رقم الهاتف :
                                </span>
                                01124651160
                            </div>
                            <div class="col-12  p-0 my-2">
                                <i class="fab fa-whatsapp ps-1 fs-5"></i>
                                <span class="fw-bold">
                                    واتس أب  :
                                </span>
                                01124651160
                            </div>
                            <div class="col-12  p-0 my-2">
                                <i class="far fa-envelope ps-1 fs-5"></i>
                                <span class="fw-bold">
                                    الايميل  :
                                </span>
                                Support@yallahelp.com
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6 order-md-1 order-0 col-12 bg-light">
                    <div class="row align-content-center justify-content-center p-2">
                        <div class="col-12 rounded shadow-sm mb-2 p-0">
                            <img src="https://img.freepik.com/free-psd/white-car-isolated_176382-1481.jpg?w=1380&t=st=1670047416~exp=1670048016~hmac=7d26a38dbb3213f290076d1f4a722ae20d2357d5155fafbc35cb18f42443fb78" />
                        </div>
                        <div class="col-12  text-secondary rounded text-end shadow-sm  mt-2 border p-3">
                            <h6 class="fw-bold fs-5">
                                <i class="far fa-file-alt ps-1"></i>
                                التفاصيل
                            </h6>
                            <hr/>
                            <p class="p-3">
                                تم فقد السيارة مساء يوم  الخميس في مدينة السادس من أكتوبر من أمام مول مصر
                                تم فقد السيارة مساء يوم  الخميس في مدينة السادس من أكتوبر من أمام مول مصر
                                تم فقد السيارة مساء يوم  الخميس في مدينة السادس من أكتوبر من أمام مول مصر
                                تم فقد السيارة مساء يوم  الخميس في مدينة السادس من أكتوبر من أمام مول مصر

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 order-md-2 order-2 col-12 bg-light ">
                    <div class="row align-content-center justify-content-center p-2">
                        <div class="col-12 text-secondary rounded text-end shadow-sm  mt-2 border p-3">
                            <h6 class="fw-bold fs-5">
                                <i class="fas fa-bullhorn"></i>
                                مساحة اعلانية 
                            </h6>
                            <hr />
                            <div class="col-12 m-auto rounded bg-dark p-0 ">
                                <img class="img-fluid rounded" style="height:230px;" src="https://img.freepik.com/free-photo/showing-tablet-s-blank-screen_155003-21288.jpg?w=1380&t=st=1670619027~exp=1670619627~hmac=da1103ef3167844ee86454c26bb6dfad79201a549347b8661c0b27b506ea9911" />
                            </div>

                        </div>
                        <div class="col-12 text-secondary rounded text-end shadow-sm  mt-2 border p-3">
                            <h6 class="fw-bold fs-5">
                                <i class="fas fa-bullhorn"></i>
                                مساحة اعلانية
                            </h6>
                            <hr />
                            <div class="col-12 m-auto rounded bg-dark p-0 ">
                                <img class="img-fluid rounded" style="height:230px;" src="https://img.freepik.com/free-photo/coming-soon-new-recent-innovation-modern-concept_53876-127478.jpg?w=1800&t=st=1670619379~exp=1670619979~hmac=8b468fd894dbd53709dc78e6d77582220881af81284242681600852c50573461" />
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@code {

}
