@page "/Services"
<!-- ======== main started ========= -->

<main class="charity-01-main">

    <!-- ============abt-01 Section  Start============ -->

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-wrapper">
                        <h3>خدماتنا</h3>
                        <ol>
                            <li style="cursor:pointer;" @onclick='()=>Nv.NavigateTo("/")'>الرئيسيه<i class="far fa-angle-double-right"></i></li>
                            <li>خدماتنا</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======== services started ========= -->

    <section class="services-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="head-01" dir="rtl">
                        <i class="fal fs-1 mb-2 fa-server text-dark"></i>
                        <h2 class="fs-2">خدمات يلا نساعد</h2>
                        <p class="fs-5">
                            يوفر موقع يلا نساعد العديد من الخدمات المميزة للمستخدمين
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-6" dir="rtl">
                    <div class="ser-box">
                        <i class="fal fa-search"></i>
                        <h3>العثور علي الاشياء المفقودة</h3>
                        <p>

                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="ser-box">
                        <i class="fal fa-users"></i>
                        <h3>البحث عن اصحاب الاشياء المفقودة  </h3>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@code {

}
