@page "/Services"
<PageTitle>خدماتنا</PageTitle>

<Header />
<!-- ======== main started ========= -->

<main class="charity-01-main" style="margin-top:102px;">

    <!-- ============abt-01 Section  Start============ -->

    <BreadCrumb BaseRouteName="الرئيسيه" BaseRouteUrl="/" SubRouteName="خدماتنا" />

    <!-- ======== services started ========= -->

    <section class="services-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="head-01" dir="rtl">
                        <i class="fal fs-1 mb-2 fa-server text-dark"></i>
                        <h2 class="fs-2">خدمات يلا نساعد</h2>
                        <p class="fs-5">
                            يوفر موقع يلا نساعد العديد من الخدمات المميزة للمستخدمين
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-6" dir="rtl">
                    <div class="ser-box">
                        <i class="fal fa-search"></i>
                        <h3>العثور علي الاشياء المفقودة</h3>
                        <p>

                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="ser-box">
                        <i class="fal fa-users"></i>
                        <h3>البحث عن اصحاب الاشياء المفقودة  </h3>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@code {

}
