@page "/SignUp"
<div class="container-fluid"  dir="rtl">
	<div class="row justify-content-center   align-items-center w-100 m-auto h-100 text-center">
		<div style="background:#fd1b5b;" class="col-md-6 col-xl-5  d-md-flex d-none  h-100 p-md-4 p-xl-5 shadow  flex-column justify-content-center rounded-right">
			<img style="height:100%;width:100%;"  src="assets/images/SignUp.svg">
		</div>
		<div class="col-md-6 col-xl-5 col-11 px-1 py-5 bg-white rounded-left shadow d-flex flex-column align-items-center justify-content-around h-100">
			<h1 class="fw-bold fs-1 mb-md-0 mb-3">مستخدم جديد</h1>
			<div class="row justify-content-center w-75 p-2  p-md-5">
				<input class="fw-bold mb-3 border-0 p-2 w-100 text-center shadow-sm rounded text-dark" style="background:#eee;" type="text" placeholder="الاسم الاول" />
				<input class="fw-bold mb-3 border-0 p-2 w-100 text-center shadow-sm rounded text-dark" style="background:#eee;" type="text" placeholder="الاسم الاخير" />
				<input class="fw-bold mb-3 border-0 p-2 w-100 text-center shadow-sm rounded text-dark" style="background:#eee;" type="number" placeholder="رقم الهاتف" />
				<input class="fw-bold mb-3 border-0 p-2 w-100 text-center shadow-sm rounded text-dark" style="background:#eee;" type="email" placeholder="البريد الالكتروني" />
				<input class="fw-bold mb-3 border-0 p-2 w-100 text-center shadow-sm rounded text-dark" style="background:#eee;" type="number" placeholder="كلمة المرور" />
				<input class="fw-bold border-0 p-2 w-100 text-center shadow-sm rounded text-dark" style="background:#eee;" type="number" placeholder="تأكيد كلمة المرور" />
			</div>
			<button class="w-25 border-0 rounded p-2 mt-md-0 mt-3 text-white" style="background:#fd1b5b; cursor:pointer;">تأكيد</button>
			<div class="justify-content-center w-100 p-2">
				<p @onclick='()=>{Nv.NavigateTo("/LogIn");}' class="mt-2" style="color:#fd1b5b; cursor:pointer;">تسجيل الدخول</p>
			</div>
		</div>
		
	</div>
</div>
@code {

}