@inherits LayoutComponentBase
@if (IsLoaded)
{
    <Header />
    <div class="container-fluid px-0 py-5">
        @Body
    </div>
    <Footer />
}
else
{
    <div class="container-fluid text-center" style="height:100vh;overflow:hidden;">
        <div class="row justify-content-center align-content-center h-100 align-items-center" style="overflow:hidden;">
           <div class="loadingio-spinner-heart-u7c83x2dxkn p-0">
                <div class="ldio-82f56hyj5wn">
                    <div>
                        <div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pulse p-0"></div>
            <div class="position-absolute fs-5 fw-bold slide-top " style="top:62%; left:auto;"> لا تتوقف أبدا عن مساعدة الاخرين </div>
        </div>
    </div>
   
}


@code{
    private bool IsLoaded = false;
    public async Task Loading()
    {
        await Task.Delay(2500);
        IsLoaded = true;
        await InvokeAsync(StateHasChanged);
    }
    protected override async void OnInitialized()
    {
        await Loading();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await JS.InvokeVoidAsync("All");
        }
        
    }
}