@inherits LayoutComponentBase

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
@if (IsLoaded)
{
    <Header />
    @Body
    <Footer />
}
else
{
    <div class="container-fluid text-center" style="height:100vh;">
        <div class="row justify-content-center align-content-center h-100 align-items-center">
           <div class="loadingio-spinner-heart-u7c83x2dxkn">
                <div class="ldio-82f56hyj5wn">
                    <div>
                        <div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pulse"></div>
        
        </div>
    </div>
   
}


@code{
    private bool IsLoaded = false;
    public async Task Loading()
    {
        await Task.Delay(5000);
        IsLoaded = true;
        await InvokeAsync(StateHasChanged);
    }
    protected override async void OnInitialized()
    {
        await Loading();
    }
}